body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3 {
    color: #003366; /* azul GOV.BR */
}

a {
    color: #0055a5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    background-color: white;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 8px;
    max-width: 900px;
    border-left: 6px solid #0055a5;
}
